   /**
     * colors
     */
  
    /* gradient */
  
    $bg-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(240, 1%, 25%) 3%, 
      hsl(0, 0%, 19%) 97%
    );
    $bg-gradient-jet: linear-gradient(
      to bottom right, 
      hsla(240, 1%, 18%, 0.251) 0%, 
      hsla(240, 2%, 11%, 0) 100%
    ), hsl(240, 2%, 13%);
    $bg-gradient-yellow-1: linear-gradient(
      to bottom right, 
      hsl(45, 100%, 71%) 0%, 
      hsla(36, 100%, 69%, 0) 50%
    );
    $bg-gradient-yellow-2: linear-gradient(
      135deg, 
      hsla(45, 100%, 71%, 0.251) 0%, 
      hsla(35, 100%, 68%, 0) 59.86%
    ), hsl(240, 2%, 13%);
    $border-gradient-onyx: linear-gradient(
      to bottom right, 
      hsl(0, 0%, 25%) 0%, 
      hsla(0, 0%, 25%, 0) 50%
    );
    $text-gradient-yellow: linear-gradient(
      -45deg, 
      #f5af19, 
      #f12711, 
    );
  
    /* solid */
  
    $jet: hsl(0, 0%, 37%); // borders
    $onyx: hsl(240, 1%, 17%);
    $eerie-black-1: hsl(240, 2%, 13%);
    $eerie-black-2: #242526; // background for layout
    $smoky-black: #18191A; // background
    $white-1: hsl(0, 0%, 100%); 
    $white-2: hsl(0, 0%, 100%); // fonts
    $orange-yellow-crayola: #f5af19;
    $vegas-gold: #f5af19;
    $light-gray: hsl(0, 0%, 100%); // paragraphs
    $light-gray-70: hsla(0, 0%, 100%, 0.7); // titles
    $bittersweet-shimmer: hsl(0, 43%, 51%);

    // $jet: hsl(0, 0%, 22%); // borders
    // $onyx: hsl(240, 1%, 17%);
    // $eerie-black-1: hsl(240, 2%, 13%);
    // $eerie-black-2: hsl(240, 2%, 12%); // background for layout
    // $smoky-black: hsl(0, 0%, 7%); // background
    // $white-1: hsl(0, 0%, 100%); 
    // $white-2: hsl(0, 0%, 98%); // fonts
    // $orange-yellow-crayola: hsl(45, 100%, 72%);
    // $vegas-gold: hsl(45, 54%, 58%);
    // $light-gray: hsl(0, 0%, 84%); // paragraphs
    // $light-gray-70: hsla(0, 0%, 84%, 0.7); // titles
    // $bittersweet-shimmer: hsl(0, 43%, 51%);
  
    /**
     * typography
     */
  
    /* font-family */
    $ff-poppins: 'Poppins', sans-serif;
  
    /* font-size */
    $fs-1: var(--fs-1);
    $fs-2: var(--fs-2); 
    $fs-3: var(--fs-3);
    $fs-4: var(--fs-4);
    $fs-5: var(--fs-5);
    $fs-6: var(--fs-6);
    $fs-7: var(--fs-7);
    $fs-8: var(--fs-8);
  
    /* font-weight */
    $fw-300: 300;
    $fw-400: 400;
    $fw-500: 500;
    $fw-600: 600;
  
    /**
     * shadow
     */
    
    $shadow-1: var(--shadow-1);
    $shadow-2: var(--shadow-2);
    $shadow-3: var(--shadow-3);
    $shadow-4: var(--shadow-4);
    $shadow-5: var(--shadow-5);
  
    /**
     * transition
     */
  
    $transition-1: 0.25s ease;
    $transition-2: 0.5s ease-in-out;


   // animations
    @keyframes bar {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }